body {
  background-color: #282c34;
}

img {
  display: inline-block;
  margin: 1em;
  padding: 0.25em;
  border: solid 0.25em #000;
  background: #fff;
}

nav {
  background-color: #282c60;
}

.App-header {
  min-height: 100vh;
  margin: auto !important;
  width: 80% !important;
}
